.pagina-novo-projeto {
    background-color: #dddddd;

    .titulo {
        text-align: center;
        background-color: #777777;
        padding: 15px;
        color: #fff;
        margin: 15px 0px;
        font-size: 30px;
    }

    .info {
        display: flex;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .item {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            flex-wrap: wrap;
            margin: 10px;
            gap: 10px;

            label {
                font-size: 20px;
                text-align: start;
            }

            input {
                width: 400px;
                padding: 10px;
                outline: none;
                border: none;
                transition: 0.2s;
            }

            input[type='text']:focus {
                border: 3px solid #665441;
                border-radius: 10px;
            }

            textarea {
                outline: none;
                padding: 10px;
                height: 200px;
                width: 400px;
                border: none;
                transition: 0.2s;
            }

            textarea:focus {
                border: 3px solid #665441;
                border-radius: 10px;
            }
        }
    }

    .tarefas {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin: 5px;
        text-align: center;

        gap: 10px;

        .tarefa {
            padding: 10px;
            width: 400px;
            gap: 10px;

            h1 {
                text-align: center;
                font-weight: 500;
            }

            input {
                margin: 10px;
                width: 100%;
                outline: none;
                padding: 10px;
                border: none;
                transition: 0.2s;
            }

            input[type='text']:focus {
                border: 3px solid #665441;
                border-radius: 10px;
            }

            label {
                font-size: 20px;
            }
        }

        .botao {
            justify-self: end;
            padding: 10px 35px;
            margin: 10px 0px;
            text-align: center;
            background-color: #000;
            color: #fff;
            font-size: 20px;
            border-radius: 50px;
            cursor: pointer;

            transition: 0.5s;
        }

        .botao:hover {
            background-color: #665441;
            color: #fff;
            cursor: pointer;
        }
    }

    .pagamentos {
        display: flex;
        flex-direction: column;
        align-items: center;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;

            input {
                margin: 5px;
            }
        }

        .pagamento {
            width: 50%;

            h1 {
                text-align: center;
                font-weight: 500;
            }

            label {
                font-size: 20px;
            }

            input {
                width: 100%;
                padding: 10px;
                outline: none;
                border: none;
                transition: 0.2s;
            }

            input[type='text']:focus {
                border: 3px solid #665441;
                border-radius: 10px;
            }
        }

        .botao {
            background-color: #000;
            padding: 15px 25px;
            font-size: 20px;
            width: 30%;

            border-radius: 15px;
            margin: 10px 0px;
            color: #fff;
            cursor: pointer;
            transition: 0.5s;
        }

        .botao:hover {
            background-color: #665441;
            color: #fff;
            cursor: pointer;
        }
    }
}

@media (max-width: 768px) {
    .pagina-novo-projeto {

        .info {

            div {

                .item {
                    justify-content: center;
                }
            }
        }

        .tarefa {
            text-align: center;
        }

        .pagamentos {

            .pagamento {
                text-align: center;

            }


            .botao {
                width: 60%;
            }
        }

    }
}