.pagina-alteracoes-adm {

  .secao-01 {
    background-color: #d9d9d9;
    justify-content: center;
    padding-bottom: 20px;

    .titulo {
      display: inline-block;
      background-color: #c7c6c6;
      color: #000;

      width: 100%;
      text-align: center;
      font-size: 25px;
      font-weight: 600;
      padding: 20px;
    }

    form {
      display: flex;
      justify-content: center;
      margin-bottom: 140px;

      .box {
        justify-content: center;
        margin: 50px;
        background-color: #d9d9d9;
        width: 1000px;
        height: 270px;
        display: flex;

        flex-wrap: wrap;
      }
    }

    .image-box {
      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: 50px;
      width: 51%;
      overflow: hidden;
      background-color: #fff;

      input[type="file"] {
        display: none;
      }

      .imagem {
        width: 100%;
      }

      .img-icon {
        position: absolute;
      }
    }

    .text-box {
      flex-direction: column;
      margin-left: 50px;

      .text {
        gap: 30px;
        height: 60%;
        display: flex;
        font-size: 25px;
        flex-direction: column;

        input[type='text'] {
          font-size: 20px;
          width: 100%;
          outline: none;
          border: 0px;
          transition: 0.2s;
          padding: 5px;
        }

        input[type='text']:focus {
          border: 3px solid #665441;
          border-radius: 10px;
          padding: 7px;
          padding: 10px;
        }

      }

      label:nth-child(3) {
        margin-top: 30px;
      }

      .button {
        width: 100%;
        height: 40%;
        align-content: end;

        button {
          display: flex;
          justify-self: end;
          align-self: end;
          font-size: 25px;

          border: 0px;
          border-radius: 100px;
          padding: 10px 90px;
          background-color: #8c8c8c;
          color: #000;
          transition: 0.5s;
        }

        button:hover {
          background-color: #665441;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  .secao-02 {

    .titulo {
      background-color: #665441;
      color: #fff;
      width: 100%;
      text-align: center;
      font: 200 25px 'inter';
      padding: 20px;
    }

    .form {
      background-color: #fff;
      width: 100%;

      .box {
        justify-self: center;
        flex-direction: column;
        background-color: #fff;
        width: 80%;
        margin: 50px;

        .img-recente-box {
          height: 400px;
          min-width: -webkit-fill-available;
          background-color: #D9D9D9;
        }
      }

      .acoes {
        background-color: #D9D9D9;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: end;

        div {
          width: 100px;
          justify-content: space-between;
          display: flex;
          margin-right: 50px;
        }
      }
    }

    .image-box {
      display: flex;
      justify-self: center;
      height: 100%;
      width: 100%;
      overflow: hidden;
      background-color: #fff;

      .imagem {
        align-self: center;
        width: 100%;
      }
    }
  }

  #tipo {
    margin-top: 10px;
    font-size: 20px;
  }

  #local {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 100;
    justify-self: flex-end;
  }
}

@media (max-width: 768px) {
  .pagina-alteracoes-adm {
    .secao-01 {

      .box {
        // align-items: center;
        .image-box {
          align-self: center;
          height: 200px;
          width: 70%;
        }
        
        .text-box{
          width: 70%;
          margin-left: 0;
          margin-top: 20px;
          
          button {
            margin-top: 20px;
            padding: 5% 20%;
          }
        }
      }
    }

    .secao-02 {

      #tipo {
        font-size: 15px;
      }

      #local {
        font-size: 20px;
      }
    }

  }
}