.pagina-alteracoes-adm {

    .secao-01 {
        background-color: #d9d9d9;
        justify-content: center;
        padding-bottom: 20px;
        
        .titulo {
            display: inline-block;
            background-color: #c7c6c6;
            color: #000;

            width: 100%;
            text-align: center;
            font-size: 25px;
            font-weight: 600;
            padding: 20px;
        }

        form {
            display: flex;
            justify-content: center;
            margin-bottom: 140px;
            
            .box {
                justify-content: center;
                margin: 50px;
                background-color: #d9d9d9;
                width: 1000px;
                height: 270px;
                display: flex;
                
                flex-wrap: wrap;
            }
            
        }
        
        .image-box {
            display: flex;
            justify-content: center;
            align-items: center;

            border-radius: 50px;
            width: 51%;
            overflow: hidden;

            background-color: #fff;

            input[type="file"] {
                display: none;
            }

            .imagem {
                width: 100%;
            }

            .img-icon {
                position: absolute;

            }
        }




        .text-box {
            flex-direction: column;
            margin-left: 50px;
            
            .text {
                gap: 30px;
                height: 60%;
                display: flex;
                font-size: 25px;
                flex-direction: column;

                input[type='text'] {
                    font-size: 25px;
                    width: 100%;
                    outline: none;
                }

            }

            label:nth-child(3) {
                margin-top: 30px;
            }

            .button {
                width: 100%;
                height: 40%;
                align-content: end;
                
                button {
                    display: flex;
                    justify-self: end;
                    align-self: end;
                    font-size: 25px;

                    border: 0px;
                    border-radius: 100px;
                    padding: 10px 90px;
                    background-color: #8c8c8c;
                    color: #fff;
                }
            }
        }

    }

    .secao-02 {
        .titulo {
            background-color: #665441;
            color: #fff;

            width: 100%;
            text-align: center;
            font: 200 25px 'Verdana';
            padding: 20px;
        }
    }
}