@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.comp-rodape {
    background-color: #665441;

    .bloco {
        display: flex;
        justify-content: center;
        gap: 65px;
        padding: 25px 0px;

        .icones {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .idiomas {
                select {
                    padding: 5px 15px;
                    outline: none;
                    background-color: #665441;
                    border: none;
                    color: #fff;
                    font-size: 18px;
                }
            }
            .contatos {
                display: flex;
                gap: 30px;
                
                .icon1:hover{
                    color: #ff0080;
                    text-transform: uppercase;
                    transition: transform 0.5s;
                    transform: scale(1.2);
                }
                .icon2:hover{
                    color: #00d400;
                    text-transform: uppercase;
                    transition: transform 0.5s;
                    transform: scale(1.2);
                }
                .icon3:hover{
                    color: #ff3434;
                    text-transform: uppercase;
                    transition: transform 0.5s;
                    transform: scale(1.2);
                }
                .fa-brands {
                    color: #fff;
                    font-size: 50px;
                    cursor: pointer;
                }
                .fa-regular {
                    color: #fff;
                    font-size: 50px;
                    cursor: pointer;
                }
            }
        }

        .blocos {
            display: flex;
            align-items: start;
            gap: 65px;

            .paginas {
                display: flex;
                flex-direction: column;
        
                h1 {
                    margin: 5px 0px;
                    color: #fff;
                    font-family: 'Krona one';
                }
                .link {
                    text-decoration: none;
                    color: #fff;
                    font-size: 20px;
                    margin: 5px 0px;
                }
            }
            .politica {
                display: flex;
                flex-direction: column;
        
                h1 {
                    margin: 5px 0px;
                    color: #fff;
                    font-family: 'Krona one';
                }
                .link {
                    text-decoration: none;
                    color: #fff;
                    font-size: 20px;
                    margin: 5px 0px;
                }
            }
        }
    }

    .bloco2 {
        .info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px 20px;

            .img {
                img {
                    width: 65px;
                }
            }
            .copy {
                p {
                    color: #fff;
                }
            }
        }
    }
}

@media (max-width: 580px) {
    .comp-rodape {
        .bloco {
            .blocos {
                .paginas {
                    h1 {
                        font-size: 25px;
                    }
                    .link {
                        font-size: 18px;
                    }
                }
                .politica {
                    h1 {
                        font-size: 25px;
                    }
                    .link {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .comp-rodape {
        .bloco {
            flex-direction: column;
            align-items: center;
        }
    }
}