.comp-projeto-adm {
    display: flex;
    flex-direction: column;
    align-items: center;

    .projeto {
        padding: 20px;
        background-color: #44392d;
        width: 600px;
        margin: 25px 0px 0px 0px;
        cursor: pointer;r

        h1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 25px;
            color: #fff;
        }
        .icon {
            color: #000;
            font-size: 35px;
        }
    }
    .open {
        padding: 20px;
        background-color: #bbbb;
        width: 600px;
        margin: 25px 0px 0px 0px;

        h1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #000;
        }
        .icon {
            color: #000;
            font-size: 35px;
            cursor: pointer;
        }
    }
}