* {
    margin: 0px;
}

.body {
    background-image: url(../../../../public/assets/images/image-login.png);
    display: flex;
    

    .login {
        background-color: #665441 transparent;
    }
}