.pagina-home {
    .slogan {
        .carrossel {
            .swiper-pagination-bullet {
                background-color: #cecece;
                padding: 8px;
                opacity: 1;
            }
            .swiper-pagination-bullet-active {
                background-color: #665441;
            }
            .bloco {
                position: relative;

                .img {
                    img {
                        width: 100%;
                    }
                }
                .texto {
                    position: absolute;
                    top: 78%;
                    left: 50px;

                    h1 {
                        font-size: 35px;
                        font-weight: 600;
                        color: #fff;
                    }
                    .botoes {
                        display: flex;
                        gap: 20px;

                        .botao {
                            border: 3px #665441 solid;
                            text-align: center;
                            color: #665441;
                            font-weight: 600;
                            font-size: 20px;
                            text-decoration: none;
                            cursor: pointer;
                            padding: 10px;
                            width: 200px;
                            margin: 10px 0px;
                            border-radius: 20px;
                        }
                    }
                }
            }
        }
    }

    .tecnologia {
        display: flex;

        .imagem {
            img {
                width: 500px;
            }
        }
        .info {
            h1 {
                text-align: center;
            }
        }
    }
}

@media (max-width: 580px) {
    .pagina-home {
        .slogan {
            .carrossel {
                .swiper-pagination-bullet {
                    padding: 6px;
                }
                .bloco {
                    .img {
                        img {
                            width: 100%;
                            height: 320px;
                        }
                    }
                    .texto {
                        display: none;
                    }
                }
            }
        }

        .tecnologia {

        }
    }
}

@media (max-width: 768px) {
    .pagina-home {

    }
}