.pagina-home {

    .secao-1 {
        img {
            position: relative;
        }

        .cabecalho {
            position: absolute;
            display: flex;
            flex-direction: row;

            background-color: transparent;
            border: 0px solid #000;
            align-items: center;
            padding: 10px;
            width: 100%;
            top: 0px;

            a {
                text-decoration: none;
                color: #fff;
            }

            .logo {
                padding-left: 30px;
                flex-grow: 2;
            }

            .item {
                font-family: 'Inter';
                font-weight: 400;
                flex-grow: 1;
                font-size: 20px;
                margin: 12px 0px;
                padding: 0px 12px;
            }

            .interface {
                border: 0px solid #000;
                height: 400px;
            }
        }

        .text-block {
            background-color: transparentize($color: #A6896B, $amount: 0.3);
            position: absolute;
            width: 640px;

            top: 19dvw;
            left: 12dvw;

            .text {
                padding: 35px;
                color: #fff;

                h1 {
                    font-size: 55px;
                    font-weight: 600;
                    line-height: 60px;
                }

                h2 {
                    margin-top: 10px;
                    font-size: 40px;
                    font-weight: 400;
                }
            }
        }
    }

    .secao-2 {

        .beneficios {
            padding: 50px;

            h1 {
                margin: 30px 0px;
                font-size: 50px;
                font-weight: 500;

                text-align: center;
            }

            .linha {
                border: 2px solid #000;
            }

            .justify-content {
                display: flex;
                justify-content: center;
            }

            .itens {
                display: flex;
                flex-direction: row;
                justify-content: center;

                gap: 20px;
                margin: 30px 0px;

                .item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    flex-direction: column;

                    width: 400px;


                    .text {
                        text-align: center;
                        width: 330px;

                        h2 {
                            font-size: 30px;
                            font-weight: 500;
                        }

                        p {
                            margin-top: 10px;
                            font-size: 25px;
                        }

                    }


                }


            }


        }

        .destaque {
            
            .itens {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 50px;

                .item {
                    width: 400px;
                    padding: 10px;

                    text-align: center;

                    h1 {
                        font-size: 50px;
                        font-weight: 500;
                        margin: 30px 0px;
                    }
                }
            }
        }
    }
}