@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Mada:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.pagina-sobre-mim {


    .sobreMim {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .biografia {
            background-color: #CCCCCC;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 136px 0px 0px 0px;
            width: 100%;

            .sub-titulo {
                font: 300 30px 'Mada';
                padding: 0px 25px 0px 0px;
            }

            .titulo {
                font: 700 60px 'Mada';
                padding: 0px 30px 32px 0px;
            }

            .p1 {
                font: 400 18px 'Poppins';
                padding: 0px 220px 15px 220px;
            }

            .p2 {
                font: 400 18px 'Poppins';
                padding: 0px 220px 15px 220px;
            }

            .p3 {
                font: 400 18px 'Poppins';
                padding: 0px 243px 0px 236px;
            }
        }

        .imageJessica {
            width: 1030px;
            height: 780px;

            .Jessica {
                width: 100%;
                height: 100%;
            }
        }
    }

    .textos {
        height: 470px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .texto1 {
            width: 100%;
            
            p {
                font: 400 17px 'Poppins';
                width: 485px;
                justify-self: center;
                margin-left: 380px;
            }
        }

        .texto2 {
            width: 100%;

            p {
                font: 400 17px 'Poppins';
                width: 460px;
                justify-self: center;
                margin-right: 100px;
            }
        }
    }

    .mapaFrase {
        display: flex;
        justify-content: center;
        align-items: center;

        .mapa {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .frase {
            position: absolute;

            h1 {
                font: 300 64px 'Julius Sans One';
                width: 855px;
                text-align: center;
            }
        }
    }
}