@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Mada:wght@200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.pagina-sobre-mim {
    .sobre-mim {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .biografia {
            background-color: #d9d9d9;
            padding: 20px 10px;
            width: 65%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                font: 400 25px 'Mada';
                text-align: center;
                padding: 10px 0px;
            }
            h1 {
                font: 700 40px 'Poppins';
                text-align: center;
            }
            p {
                padding: 20px;
                text-align: center;
                font-size: 18px;
            }
        }
        .img {
            width: 35%;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
 
    .mapaFrase {
        display: flex;
        justify-content: center;
        align-items: center;

        .mapa {
            position: relative;
            width: 100%;
        }
        .frase {
            position: absolute;

            h1 {
                font: 300 45px 'Julius Sans One';
                width: 460px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .pagina-sobre-mim {
        .sobre-mim {
            flex-direction: column;

            .biografia {
                width: 100%;
            }
            .img {
                width: 100%;
            }
        }
        .mapaFrase {
            .mapa {
                height: 450px;
            }
            .frase {
                h1 {
                    font-size: 35px;
                }
            }
        }
    }
}

@media (max-width: 580px) {
    .pagina-sobre-mim {
        .mapaFrase {
            .mapa {
                height: 350px;
            }
            .frase {
                h1 {
                    font: 30px;
                }
            }
        }
    }
}